.page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../Asserts/Background.jpg');
  background-size: cover;
  background-position: center;
}

.login-page {
  width: 300px;
  margin: auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center; 
}

.login-page h1 {
  margin-bottom: 20px;
}

.login-page form div {
  margin-bottom: 15px;
  text-align: left;
}

.login-page label {
  display: block;
  margin-bottom: 5px;
}

.login-page input {
  width: calc(100% - 20px); 
  padding: 8px;
  box-sizing: border-box;
}

.login-page button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  vertical-align: middle;
}

.login-page button:hover {
  background-color: #218838;
}
